#google-logo {
    display: block;
    margin: 0 auto;
    padding-top: 10.5%;
}

#github-logo {
    width: 1.5%;
    height: 1.5%;
    display: block;
}

#form {
    text-align: center;
    margin-top: 13px;
    padding-top: 18px;
    padding-right: 80px;
}

#query {
    height: 30px;
    width: 450px;
    border-radius: 10px;
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    outline: none;
}

#google-search {
    padding: 7px 10px;
    margin-right: 22px;

}

#feeling-lucky {
    padding: 7px 10px;
    margin-left: 22px;
}

ul {
    list-style-type: none;
  }

li a {
    display: inline;
    color: rgb(59, 56, 56);
    padding: 17.49px 22px;
    text-decoration: none;
}


li img {
    display: inline;
    padding: 25px 22px;
}

.form-group {
    margin-top: 18px;
    padding-top: 10px;
}

.bot-navbar {
    background-color:rgb(238, 238, 238);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

li a:hover {
    text-decoration: underline;
}

#github-logo:hover {
    transform: scale(1.1);
}

#query:hover {
    box-shadow: 0 0 20px rgb(185, 184, 184);
}